# Java / Maven
target/
*.class
*.jar
*.war
*.ear
*.log
*.iml

# IDE
.idea/
.vscode/
*.swp
*.swo
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Angular
banking-ui/node_modules/
banking-ui/dist/
banking-ui/.angular/
banking-ui/.vscode/

# Environment
*.env
